process {
    executor = 'slurm'
    queue = 'BioCompute'
    time = '2d'
    memory = '48 GB'
    clusterOptions = '--account=warrenlab'
    conda = "${projectDir}/conda.yml"

    withName: minimap {
        cpus = 14
    }

    withName: sniffles {
        cpus = 14
    }
}

conda.useMamba = true

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/WarrenLab/longread-svs-nf'
    author = 'Edward S. Rice'
}

